# This is a basic workflow to help you get started with Actions

name: Copycat

# Controls when the workflow will run
on:
  workflow_run:
    workflows: ["Build_special_firmware"]
    types:
      - completed
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  copycat:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: copycat tasmota
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          src_path: firmware/tasmota/other/.
          src_branch: firmware
          dst_path: firmware/unofficial
          dst_owner: tasmota
          dst_branch: main
          dst_repo_name: install
          username: workflow
          commit_message: "Update from unofficial builder"
  copycat32:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - name: copycat tasmota32
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          src_path: firmware/tasmota32/other/.
          src_branch: firmware
          dst_path: firmware/unofficial
          dst_owner: tasmota
          dst_branch: main
          dst_repo_name: install
          username: workflow
          commit_message: "Update from unofficial builder"
